body{
  margin: auto;
}
.navbar-brand{
  margin-left: 100px;
  margin-top: 10px;
}
.nav{
  background-color: white;
  color: black;
  text-align: center;
}
.active{
  margin-left: 150px;
}
/*.header{
  display: flex;
  flex-direction: row;
}*/
.btn-mem{
  border: 1px solid #14A85E;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  color: #14A85E;
  margin-right: 100px;
  background: white;
}

.btn-mem:hover{
  border: 1px solid #14A85E;
  border-radius: 10px;
  color: #14A85E;
  background: white;
}
.fa-search{
  margin: 20px;
}
.sign-in{
  color: #14A85E;
  text-decoration: none;
  margin: 25px;
}

.sign-in:hover{
  color: #14A85E;
  text-decoration: none;
  margin: 25px;
  cursor: pointer;
}
.mem{
  color: black;
  margin: 25px;
  cursor: pointer;
}
.never-miss{
  background-color: #ECF0F1;
}
.sign-up{
  color: white;
  background-color: black;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 40px;
  border: none;
  margin: 20px;
}
.inputGroup .textInput:not(.textInput--narrow) {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.textInput--underlined {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
  -webkit-border-radius: 0;
  border-radius: 0;
}
.textInput {
  border: 1px solid rgba(0,0,0,.15);
  padding: 0 5px;
  height: 35px;
  font-size: 16px;
  outline: 0;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
.center{
  margin: auto;
}

/*sticky sidebar*/
.header{
  display: flex;
  flex-flow: row;
  margin-left: 0px;
  margin-top: 20px;
}

.space{
  width: 100%;
  color: #ccc;
  background-color: #ccc;
  margin-top: 10px;
  margin-left: 0px;
}

.news{
  margin-top: 20px;
}
.newside{
 margin-top: 12px;
 margin-left: 12px;
}
.sidebar {
  width: 35%;
  height: 130vh;
  overflow: auto;
  position:-webkit-sticky;
  position: sticky;
  top: 5%;
  margin-left: 0px; 
  margin-top: 50px;
  margin-right: 70px;
}

.sidebar::-webkit-scrollbar {
  width: 0px !important; 
  background: transparent; 
  display: hidden;
  }

.main {
  width: 60%;
  height: 200vh;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
}

.main,
.sidebar {
  background-color: white;
  color: #222222;
  padding: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  font-size: 16px;
}


.bottom {
  justify-self: bottom;
}

.footer{
  display: flex;
  flex-direction: row;
}

.footer p{
  margin-left: 10px;
  font-size: 14px;
  line-height: 10px;
  color: #222222;
  opacity: 0.7;
}
